* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans, sans serif";
  margin: auto 0;
  background-image: url(https://i.pinimg.com/originals/8f/8f/ec/8f8fec69b1747063305d1c1399438e21.png);
  background-repeat: repeat;
}

.header-navigation {
  display: block;
}
.conteiner {
  margin: 0 px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 1140 px;
  margin: auto;

  background-repeat: no-repeat;
}
.header a {
  text-decoration: none;
  color: var(--pure-white);
  color: black;
}
.header-logo {
  font-size: 16px;
  justify-content: flex-start;
  margin: 18;
}
.menu {
  padding: 0px 35px;
  margin: 0px 0px 0px 100px;
  list-style: none;
  justify-content: end;
}
ul {
  padding: 25px;
  margin: 20px;
}
.header li {
  padding: 0px 10px;
}
.menu-Item {
  display: inline-block;
  padding: 0 px;
}

.intro {
  padding: 60 px;
}
.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  display: block;
}

.contacts {
  margin-bottom: 60px;
}
.intro-left {
  border-radius: 35px;
  margin-left: 0 px 25px;
}
.intro-right {
  width: 50%;
  margin-left: 45 px 25 px;
}
.contacts {
  margin-bottom: 60 px;
}
.conteiner {
  width: 1140 px;
  margin: auto;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.contacts ul {
  display: flex;
  justify-content: center;
  gap: 30 px;
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.contacts ul li a {
  margin: 17px;
}
.section-title {
  display: flex;
  justify-content: center;
  margin: 0;
}
.skills {
  margin: 0 px;
  padding: 30 px;
  background-color: var(--accent);
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15 px;
  margin: 0 px;
  padding: 0;
  list-style: none;
}
.skills ul li {
  margin: 15px;
}
.section-skills {
  display: flex;
  justify-content: center;
  margin: 0;
}
.section-title {
  display: flex;
  justify-content: center;
  margin: 0;
}
.section-portfolio {
  display: flex;
  justify-content: center;
}
portfolio-list {
  display: flex;
}
